* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}
body {
	background-color: #E5E5E5;
}
@font-face{
	src: url(../fonts/roboto-regular.ttf);
	font-family: roboto;
}
.top-banner{
	padding-top: 15px;
}

ul.follow-us{
	padding: 0;
	margin: 0;
	list-style-type: none;
}

ul.follow-us li{
	float: left;
	margin-right: 5px;
}

ul.follow-us li a{
	display: block;
	padding: 4px;
	text-align: center;
	color: #fff;
}

ul.follow-us li.facebook{
	background: #2a62aa;
	width: 30px;
	height: 30px;
	border-radius: 100px;
}

ul.follow-us li.twitter{
	background: #00b0ed;
	width: 30px;
	height: 30px;
	border-radius: 100px;
}

ul.follow-us li.google{
	background: #e22424;
	width: 30px;
	height: 30px;
	border-radius: 100px;
}

ul.follow-us li.tumblr{
	background: #f954d3;
	width: 30px;
	height: 30px;
	border-radius: 100px;
}

.nav{
	font-family: roboto;
}

.nav .nav-item a{
	color: #282923;
}

.nav .nav-item span.fa.fa-cloud-download{
	display: inline-block;
	font-size: 30px;
	padding: 3px 30px;
}

.margin-top{
	margin-top: 60px;
}

.left-banner{
	padding: 90px 0 0 60px !important;
}

.row h3{
	color: #282923;
}

.row h1 span{
	color: red;
}

.btn-default{
	border: 1px solid #282923;
}

.no-padding{
	padding: 0;
}

.about-us{
	padding-right: 10%;
	padding-top: 6%;
}


.services-bg{
	background-color: #E5E5E5;
	padding-top: 60px;
	color: blue;
}
.services-bg h1 {
	color: blue;
}


.posts-top-margin{
	margin-top: 100px;
}
.posts-top-margin h4 {
	color: blue;
}
.posts-top-margin h2 {
	color: blue;
	border-bottom: 3px solid blue;
	border-end-end-radius: 50%;
}

.card-header{
	background-color: transparent;
	border: none;
	position: relative;
}

.email{
	width: 82%;
	margin-top: 5px;
	font-size: 15px;

	
}
.submit-left{
	margin-left: 65%;
}
.phone{
	font-size: 15px;
}

.container-fluid.footer{
	background-color: blue;
	color: #fff;
	padding: 50px 0;
}
.container-fluid.footer h3{
	color: #fff;
}


.header {
	background: linear-gradient(96.22deg, #043CAA -0.66%, rgba(4, 60, 170, 0.86) 44.05%, rgba(4, 60, 170, 0) 100%), url(../images/4.jpeg);
	width: 100%;
	background-repeat: no-repeat;
	background-size: cover;
	color: #fff
}
.section h3 {
	color: #fff;
}
.header button {
	color: #fff;
	border: 1px solid #fff;
	margin: 5px;
}
.section .btn-light {
	color: blue;
}

.no-gutters h1{
	font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}
.navbar a{
	color: #fff;
	font-weight: bold;
	
}

#form {
	width: 400px;
	background-color: #fff;
	padding: 20px;
	border-radius: 10px;
	box-shadow: 1px 1px 1px black;
	position: absolute;
	top:0;
	right: 0;
	display: none;
}